<div>
  <app-nav></app-nav>
  <div class="text-white px-3 sm:px-0 mt-10">
    <form class="flex sm:w-full justify-center gap-5">
      <div class="grid">
        <label class="uppercase xl:text-base text-sm"
          >Showing records from</label
        >
        <input
          type="date"
          class="w-full sm:w-56 lg:w-72 bg-gray-800 outline-none border-b-2 sm:mt-5 sm:h-10"
          placeholder="Enter a date"
        />
      </div>

      <div class="grid">
        <label class="uppercase xl:text-base sm:text-sm">To</label>
        <input
          type="date"
          class="sm:w-56 lg:w-72 bg-gray-800 outline-none border-b-2 sm:h-10 sm:mt-5"
          placeholder="Enter a date"
        />
      </div>

      <button
        class="uppercase rounded hover:bg-green-700 transition duration-300 bg-green-500 border-transparent border xl:mt-0 mt-11 w-12 sm:w-16 lg:w-20 h-10 xl:relative xl:top-11"
      >
        Go
      </button>
    </form>

    <div class="px-2 sm:px-10 lg:px-20 xl:px-44">
      <div
        class="border-transparent border bg-gray-600 transition duration-300 hover:bg-gray-700 mb-5 shadow-md hover:shadow-xl rounded h-40 px-5 xl:px-8 mt-10"
      >
        <div class="flex justify-between">
          <div class="grid mt-5">
            <p class="font-bold text-2xl sm:text-3xl mb-2 text-lime-500">15</p>
            <p class="border-t-2 border-t-gray-700">Eating out</p>
            <p class="mt-2 text-gray-400 text-lg mb-3">Date</p>
          </div>

          <div class="mt-5">
            <p class="sm:text-3xl">Brunch At Cafe Bistro</p>
          </div>

          <button>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="w-6 h-6"
            >
              <path
                d="M21.731 2.269a2.625 2.625 0 0 0-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 0 0 0-3.712ZM19.513 8.199l-3.712-3.712-12.15 12.15a5.25 5.25 0 0 0-1.32 2.214l-.8 2.685a.75.75 0 0 0 .933.933l2.685-.8a5.25 5.25 0 0 0 2.214-1.32L19.513 8.2Z"
              />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
