<div class="text-white">
  <div class="mt-20 xl:px-96 grid">
    <div class="xl:px-32">
      <form
        class="border shadow-lg border-green-950 rounded bg-green-950 px-10 py-5"
      >
        <div><p class="text-3xl">Expense Record</p></div>
        <div class="grid mt-5">
          <label class="text-xl">Title</label>
          <input
            class="h-10 px-5 outline-none border-b-2 text-black rounded"
            type="text"
            placeholder="Title"
          />
        </div>

        <div class="grid mt-5">
          <label class="text-xl">Amount</label>
          <input
            class="h-10 px-5 outline-none border-b-2 text-black focus:border-b-lime-500 rounded"
            type="number"
            placeholder="Amount"
          />
        </div>

        <div class="grid mt-5">
          <label class="text-xl">Incurred On</label>
          <input
            class="h-10 px-5 outline-none border-b-2 text-black focus:border-b-lime-500 rounded"
            type="text"
            placeholder="Incurred On"
          />
        </div>

        <div class="grid mt-5">
          <label class="text-xl">Notes</label>
          <textarea
            name=""
            id=""
            cols="30"
            rows="10"
            placeholder="Enter your notes"
            class="px-5 outline-none border-b-2 text-black focus:border-b-lime-500 rounded"
          ></textarea>
        </div>

        <div class="mt-5 flex justify-between">
          <button class="border py-2 px-5">Submit</button>
          <button class="border py-2 px-5">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
